@import "tailwindcss";

@theme {
  --font-sans: Arial, Helvetica, sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-zinc-950 text-zinc-200 antialiased selection:bg-red-500 selection:text-white min-h-screen print:bg-white print:text-zinc-900;
  }
}

@media print {
  @page {
    margin: 1.5cm;
    size: A4 portrait;
  }
  
  /* Force background colors to print if needed */
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  /* Reset layout for print to avoid breaks */
  section {
    page-break-inside: avoid;
  }
}
